body {
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;

}

ul {
    list-style-type: none;
}
   
a {
    text-decoration: none;
}

.container {
width: 1158;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

img {
    display: block;
}

/*------- -----------*/


/*------- Header -----------*/

.header {
padding-top: 32px;
padding-bottom: 24px;
border-bottom: 1px solid #e7e9fc
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-list {
display: flex;
gap: 40px;
padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center; 
  width: 1158px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;  
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-list-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404bbf 
}

.header-adress {
    display: flex;
    gap: 40px;
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.header-adress-link:hover,
.header-adress-link:focus {
color: #404bbf;
}

.address {
    font-style: normal;
}

/*------- -----------*/

/*------- Hero -----------*/

.first { 
background-color: #2e2f42;;
padding: 188px 0;
}

.first-container {
padding: 188px 472px;
align-items: center;
}

.first-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.first-btn-text {
    display: block;
    margin: 0 auto;
    min-width: 169px;
}

.first-btn-text {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
margin: 0 auto;
cursor: pointer;
}

.first-btn-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}

.first-btn-text:hover,
.first-btn-text:focus {
    background-color: #404BBF;
}

/*------- -----------*/

/*------- Non -----------*/
.non {
    padding: 120px 0;
}

.container-non {
padding: 120px 156px;
}
.non-title {
    visibility: hidden;
}

.non-list {
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.non-items {
}

.non-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.non-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*------- -----------*/
/*------- Team -----------*/
.team {
background: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}

.container-team {
padding: 120px 156px;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.team-list { 
display: flex;
flex-wrap: wrap;
gap: 24px;
width: calc((100% - 72px) / 4);
background-color: #FFFFFF      
}

.team-block {
  padding: 32px 0;  
}

.team-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
padding: 0px 0px 32px 0px;
text-align: center;
}

.team-img {
margin: 0 auto;
margin-bottom: 32px;
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;  
margin-bottom: 32px;
}

/*------- -----------*/
/*------- Protfolio -----------*/
.portfolio {
    padding: 120px 0 120px 0;
}

.container-portfolio {
  padding: 120px 156px;  
  border: 1px solid #e7e9fc;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
width: calc((100% - 48px) / 3);   
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #2e2f42;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;    
}

.portfolio-block {
padding: 32px 16px;
border-top: none;
}
/*------- -----------*/
/*------- Futter -----------*/
.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.container-footer {
padding: 100px 1020px 100px 156px;
}

.footer-logo {
display: inline-block;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.footer-logo-span {
color: #f4f4fd;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
/*------- -----------*/